html, body {
    background-color: #181C14;
    color: #ECDFCC;
    font-family: inter;
    text-align: center;
    height: 100%;
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 85%;
    margin: auto;
}

.center img {
    width: 100px;
}

.center h1 {
    margin-bottom: 0;
}

.center a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 150px;
    height: 60px;

    font-size: larger;
    background-color: #3C3D37;
    border-radius: 10px;
    color: #ECDFCC;
    text-decoration: none;
    transition: all 0.3s;
}

.center a:hover {
    background-color: #4C4D47;
    transform: scale(1.1);
}

@font-face {
    font-family: 'inter';
    src: url("fonts/Inter_18pt-Regular.woff2") format("woff2");
}