html, body {
    background-color: #333333 !important;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-flex;
}

#mynetwork {
    width: 100%;
    height: 100%;
    background-color: #333333; 
    border: none !important;
    position: relative; 
}

.card {
    border: none !important;
}

.card-body {
    padding: 0 !important;
}
